# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
*.egg-info/

# LaTeX
*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.synctex.gz
*.fdb_latexmk
*.fls

# Data
*.tar.gz
*.zip
data/

# IDE
.vscode/
.idea/
